.attribution{
  display: none;
}
*:focus {
 outline: 2px dotted #ff7500;
 outline-offset: 3px;
}
.container {
  width: 100%;
  max-width: 1440px;
  height: 870px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}
.result-box {
  width: 346px;
  height: 574px;
  margin-top: 160px;
  text-align: center;
  border-radius: 20px;
  background-color: #1f1f1f;
  color: #ffffff;
}
.profile img{
  margin-top: 36px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.profile-name {
  font-size: 17px;
  margin: 0;
  margin-bottom: 16px;
}
.location {
  font-size: 15px;
  margin: 0;
  margin-bottom: 30px;
  color: #a9c45f;
}
.occupation {
  font-size: 14px;
  color: #aeaeae;
  margin: 0;
  margin-bottom: 25px;
}
.socials{
  margin: 0;
}
.socials li a{
  font-size: 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials li{
  width: 275px;
  height: 40px;
  list-style: none;
  background-color: #333333;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.socials li a:hover{
  color: #000;
}
.socials li:hover{
  opacity: 0.8;
  background-color: #c4f82a;
}
.socials li:active{
  background-color: #c4f82a;
}

/* font-face */

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular_1.woff2') format('woff2'),
        url('Inter-Regular_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}